{% extends 'base.html.twig' %}

{% block title %}Mentions légales - COOKERY-TOUR
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">


{% endblock %}


{% block body %}
	<div class="bloc-title">
		<h1>Mention Légales</h1>
	</div>

	<div class="container-mentions">
		<article>
			<h2>
				1 - Édition du site
			</h2>
			<p>
				En vertu de
				<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164#LEGIARTI000042038977" target="_blank">l'article 6 de la loi n° 2004-575 du 21 juin 2004</a>
				pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet

				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>
				l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
												
																Propriétaire du site : Maxime François - Contact :
				<a href="mailto:maximefrancois92@gmail.com">maximefrancois92@gmail.com</a>
				<a href="tel:0768602888">0768602888</a>
				- Adresse : 17 Rue du Commandant Rivière Suresnes 92150.
																	- Adresse postale : 17 Rue du Commandant Rivière Suresnes 92150
																	Directeur de la publication : Maxime François - Contact : .
																	Hébergeur : OVH SAS - 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1 - Téléphone : 1007
			</p>

		</article>

		<article>
			<h2>
				2 - Propriété intellectuelle et contrefaçons.

			</h2>
			<p>
				Maxime François est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.
												Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Maxime François.
												Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles
				<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032655082" target="_blank">L.335-2 et suivants du Code de Propriété Intellectuelle.</a>
			</p>
		</article>

		

	

		

		<article>
			<h2>
				3 - Droit applicable et attribution de juridiction.


			</h2>
			<p>
				Tout litige en relation avec l’utilisation du site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>
				est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Nanterre.


			</p>
		</article>


	</div>


{% endblock %}
