{% extends 'base.html.twig' %}

{% block title %}Mentions légales - COOKERY-TOUR
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">


{% endblock %}


{% block body %}
	<div class="bloc-title">
		<h1>Politique de confidentialité</h1>
	</div>

	<div class="container-mentions">
		

	

		<article>
			<h2>
				1 - Limitations de responsabilité.


			</h2>
			<p>
				Maxime François ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>.
					
					Maxime François décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>.
					
					Maxime François s’engage à sécuriser au mieux le site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.
					
					Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. Maxime François se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.
					Le cas échéant, Maxime François se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
			</p>
		</article>

		<article>
			<h2>
				2 - CNIL et gestion des données personnelles.
			</h2>
			<p>
				Conformément aux dispositions de
				<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460" target="_blank">la loi 78-17 du 6 janvier 1978</a>
				modifiée, l’utilisateur du site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>
				dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : - .
				
				
				Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre
				<a href="https://www.cookery-tour.fr/politique-de-confidentialité">https://www.cookery-tour.fr/politique-de-confidentialité</a>.

			</p>
		</article>

		<article>
			<h2>
				3 - Liens hypertextes et cookies

			</h2>
			<p>
				Le site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>
				contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>.
					
					
					La navigation sur le site
				<a href="https://www.cookery-tour.fr">https://www.cookery-tour.fr</a>
				est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.
				
				Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.
				Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement.
				Les cookies sont enregistrés pour une durée maximale de 6 mois.
				Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre
				<a href="https://www.cookery-tour.fr/politique-de-confidentialité">https://www.cookery-tour.fr/politique-de-confidentialité</a>.


			</p>
		</article>

		


	</div>


{% endblock %}

