{% extends 'base.html.twig' %}

{% block title %}Accueil - COOKERY-TOUR
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/home.css')}}">
{% endblock %}



{% block body %}

	<div class="main-home">

		<div class="bloc-title">


			<h1>COOKERY TOUR</h1>
			<h2>
				Recettes de cuisine des régions de france
			</h2>

		</div>

		{% include "partials/map.html.twig" %}

		<div class="select-container">


			<div class="dropRegion">
				<input id="toggle" type="checkbox" checked>
				<h2>Sélectionnez une région</h2>
				<ul>
					{% for region in regions %}
						<li>
							<a href="{{path('app_region_show', {'id': region.id})}}">
								{{region.name}}
							</a>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>


	</div>


{% endblock %}

{% block javascripts %}
	<script>
"use strict";

function SVGToolTip() {
  const oSVG = document.querySelector("svg");

  if (!oSVG) {
    console.error("SVG element not found");
    return;
  }

  // création et ajout élément
  const oInfo = document.createElement("DIV");
  oInfo.id = "info-SVG";
  if (oSVG.parentNode) {
    oSVG.parentNode.insertBefore(oInfo, oSVG.nextSibling);
  } else {
    console.error("SVG parent node not found");
    return;
  }

  function _toggleInfo(e) {
    oInfo.innerHTML = e.type === "mouseenter" ? "<span>" + e.target.getAttribute("data-name") + "</span>" : "";
  }

  function _moveInfo(e) {
    oInfo.style.transform = "translate3d(" + e.layerX + "px," + e.layerY + "px, 0)";
  }

  // mouse move sur SVG
  oSVG.addEventListener("mousemove", _moveInfo, true);

  // mouse enter/leave sur PATH
  const oElems = document.querySelectorAll("path");
  oElems.forEach(function (elem) {
    elem.addEventListener("mouseenter", _toggleInfo);
    elem.addEventListener("mouseleave", _toggleInfo);
  });
}

SVGToolTip();
	</script>
{% endblock %}

