{% extends 'base.html.twig' %}

{% block title %}Accueil - COOKERY-TOUR
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/home.css')}}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<div class="main-container">

		<div class="bloc-title">
			<h1>COOKERY TOUR</h1>
			<h2>
				Recettes de cuisine des régions de france
			</h2>


		</div>


		<div class="select-container">

			<div class="dropRegion">
				<input id="toggle" type="checkbox" checked>
				<h2>Sélectionnez une région</h2>
				<ul>
					{% for region in regions %}
						<li>
							<a href="{{path('app_region_show', {'id': region.id})}}">
								{{region.name}}
							</a>
						</li>
					{% endfor %}

				</ul>
			</div>




		</div>
	</div>

{% endblock %}
