<footer>
<div class="footer-container">

<a href="{{path('home')}}" class="brand"><img src="{{asset('assets/img/logo-cookery.png')}}"></a>

<div class="rgpd">
<a href="{{path('mentions-legales')}}" class="mention-link">Mentions légales</a>
<a href="{{path('politique')}}" class="politique-link">Politique de confidentialité</a>
</div>



</div>
</footer>