<header class="header" id="header">
   <nav class="navbar container">
      <a href="{{path('home')}}" class="brand"><img src="{{asset('assets/img/logo-cookery.png')}}"></a>
      <div class="burger" id="burger">
         <span class="burger-line"></span>
         <span class="burger-line"></span>
         <span class="burger-line"></span>
      </div>
      <span class="overlay"></span>
      <div class="menu" id="menu">
         <ul class="menu-inner">
            <li class="menu-item"><a class="menu-link" href="{{path('home')}}">Accueil</a></li>
            <li class="menu-item"><a class="menu-link" href="{{path('app_recipe_index')}}">Recettes</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Inscription</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Connexion</a></li>
          
         </ul>
         
      </div>
      <span><i class="fa-solid fa-magnifying-glass search-toggle"></i></span>

    
      <div class="search-block">
         <form class="search-form">
            <span><i class="fa-solid fa-xmark search-cancel"></i></span>
            <input type="search" name="search" class="search-input" placeholder="Search here...">
         </form>
      </div>
   </nav>
</header>

