{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

<div class="main">

	<div class="bloc-title">
		<h1>
        E-MAIL ENVOYÉ
        </h1>


	</div>

<div class="emailSended-container">


	<p>
		Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
		Ce lien expirera dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.

	</p>
	<p>
		Si vous ne recevez pas d'e-mail, vérifiez votre dossier spam ou
		<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.

	</p>
</div>

</div>
	
{% endblock %}
