.flex-part {
    display: flex;
    width: 80%;
    margin: auto;

}

.part-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.line-info {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.line-ingredients {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.sep-line {
    width: 100px;
    height: 2px;
    background: #1F1F1F;
}

.main {
    background-image: url(../img/blob-scene-haikei\ \(3\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-info h3 {
    font-size: 28px;
}

.line-ingredients h3 {
    font-size: 30px;
}

.line-ingredients p {
    font-size: 25px;
}

.line-info p {
    font-size: 25px;
}

.part-img {
    width: 50%;
}

.part-img img {
    max-width: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    padding-bottom: 100px;
}

.recipe h2 {
    font-size: 30px;
}

.links-container {

    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background: var(--color-blue-200);
    padding: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

    border: 3px solid var(--color-blue-200);
    transition: 0.5s;
    font-weight: 600;
    letter-spacing: 1px;
    align-items: baseline;
    gap: 15px;


}

.link i,
.btn i {
    font-size: 20px;
}

.link:hover {
    color: var(--color-blue-200);
    background: white;
}

.links-container .btn {
    display: flex;
    justify-content: center;
    font-size: 15px;
    background: #ae191c;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border: 3px solid #ae191c;
    transition: 0.5s;
    font-weight: 600;
    letter-spacing: 1px;
    align-items: baseline;
    gap: 15px;
    font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
    height: 59px;
}

.links-container .btn:hover {
    color: #ae191c;
    background: white;
}

.recipe-content {
    padding-bottom: 50px;
}

.recipe-content p {
    font-size: 25px;
    width: 80%;
    margin: auto;
}

.like-container {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    gap: 20px;
    align-items: baseline;
}

.like-container a {
    font-size: 25px;
    font-family: "Rubik";
    color: #1F1F1F;
    background: white;
    padding: 5px 12px;
    border-radius: 15px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.like-container a:hover {
    background: var(--card-blue);
    color: white;
}

.like-button i {
    font-size: 25px;
    color: rgb(164, 11, 11);

}

.like-button {
    background: white;
    padding: 9px;
    border-radius: 30px;
    display: flex;

    cursor: pointer;
}

.jaime {
    font-size: 25px;
}