

.recipe-container{
    display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        gap: 40px;
        padding-bottom: 150px;
}
.recipe-card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    background: var(--card-blue);
}
.recipe-card img {
    width: 100%;
   
}
.recipe-card h3 {
color: white;
    text-align: center;
    position: absolute;
    background: var(--card-blue);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
    top: 10px;
    width: 90%;
    letter-spacing: 2px;
    font-weight: 700;
}
.bottom-card{
   
    width: 100%;
    padding: 20px 0px;
}
.bloc-info-recipe{
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
            gap: 10px;


}
.infos-container{
    display: flex;
        justify-content: center;
        max-width: 90%;
        margin: auto;
        gap: 20px;
}

.bloc-info-recipe i{
    color: white;
    font-size: 27px;

}
.bloc-info-recipe span{
   
    color: white;
    font-size: 20px;
        text-align: center;
            letter-spacing: 2px;
}
.links-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    position: relative;
}
.links-container a{
    font-size: 16px;
        font-family: "Rubik";
        color: #1F1F1F;
        background: white;
        padding: 5px 12px;
        border-radius: 15px;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        gap: 5px;


}
.links-container a:hover {
    background: orange;
    color: white;
}
.like-button i {
    font-size: 20px;
    color: rgb(164, 11, 11);

}
.like-button{
    background: white;
    padding: 9px;
    border-radius: 30px;
    display: flex;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
