{{ form_start(form, {'attr': {'class': 'search-form'}}) }}
<span>
	<i class="fa-solid fa-xmark search-cancel"></i>
</span>

{{ form_widget(form, {'attr': {'class': 'search-input'}}) }}

{{ form_end(form) }}
