{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css')}}">
{% endblock %}


{% block body %}
<div class="bloc-title">
	<h1>AJOUTER VOTRE RECETTE</h1>


</div>


    {{ include('recipe/_form.html.twig') }}

    <a href="{{ path('app_recipe_index') }}">Revenir aux recettes </a>
{% endblock %}
