{% extends 'base.html.twig' %}

{% block title %}Page non trouvée - COOKERY-TOUR
{% endblock %}

{% block body %}
	<div class="main">


		<div class="bloc-title">
			<h1>ERREUR 403</h1>
			<h2>La page que vous recherchez n'a pas été trouvée</h2>


		</div>
		<div class="container-img-error">

			<img src="{{asset('assets/img/lost-john-travolta.gif')}}">
		</div>
	</div>

{% endblock %}
